@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Roboto, Helvetica, Arial, sans-serif;
	display: flex;
	flex-direction: column;
}

.hero {
	background: #1f2937;
	color: #f9faf8;
	padding: 20px 200px 0;
	display: flex;
	flex-direction: column;
}

.logo {
	font-size: 24px;
	font-weight: 800;
}

a {
	text-decoration: none;
	color: #f9faf8;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.links {
	list-style: none;
	display: flex;
	gap: 20px;
	font-size: 18px;
}

.presentation {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 48px;
	padding: 100px 0;
}

.hero-text h1 {
	font-size: 48px;
	font-weight: 900;
}

.hero-text p {
	font-size: 18px;
	color: #e5e7eb;
}

.sign-up {
	background: #3882f6;
	border-radius: 8px;
	padding: 8px 32px;
	display: inline-block;
	font-weight: 600;
}

.hero-text .sign-up {
	margin-top: 15px;
}

.popular-sites {
	background: #f9faf8;
	padding: 0px 200px 48px;
	text-align: center;
}

.popular-sites h2 {
	font-size: 36px;
	font-weight: 900;
	color: #1f2937;
	padding: 30px 0;
}

.sites {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.site {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
	width: 200px;
}

.img-site img {
	outline: 1px solid #3882f6;
	border-radius: 8px;
}

.quote {
	padding: 60px 230px;
	background: #e5e7e8;
	display: flex;
	flex-flow: column;
}

.quote q::after,
.quote q::before {
	content: none;
}

.quote q {
	font-size: 36px;
	font-weight: 300;
	color: #1f2937;
}

.quote span {
	align-self: flex-end;
	font-weight: 700;
}

